body {
    background-image: url('../../../assets/images/discite logo.png') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }