/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/images/discite logo.png') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position-x: center;
  }