<div class="row">
    <div class="col-md-4" *ngFor="let class of classesWithStats">
      <div class="card mb-4">
        <img [src]="'../../../assets/images/' + class.id + '.png'" class="card-img-top" alt="{{ class.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ class.name }}</h5>
          <p class="card-text">
            Max HP: {{ class.maxHp }}<br>
            Damage: {{ class.damage }}<br>
            Energy: {{ class.energy }}<br>
            Speed: {{ class.speed }}<br>
            Owned: {{ class.owned }}<br>
            Used: {{ class.used }}<br>
            Kills: {{ class.kills }}<br>
            Deaths: {{ class.deaths }}
          </p>
        </div>
      </div>
    </div>
  </div>